
<div class="container main-container">
  <h1>Chat Leandro Firebase</h1>

  <div class="row" *ngIf="_chs.usuario">
    <div class="col-md-12 text-right">
      <button (click)="salir()"
      type="button" class="btn btn-outline-danger">Salir</button>
    </div>
  </div>

  <div class="chat-window">

    <app-login *ngIf="!_chs.usuario"></app-login>

    <app-chat *ngIf="_chs.usuario"></app-chat>
  </div>


</div>

<!-- <ul>
  <li class="text" *ngFor="let item of items | async">
    {{item | json}}
  </li>
</ul> -->

